.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* Remove qualquer rolagem horizontal */
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: left; 
    align-items: center;
    font-size: 35px; /* Ajuste de tamanho correto */
    height: 60px;
    color: white;
    max-width: 100%; /* Evita que ultrapasse a tela */
    box-sizing: border-box;
    background-color: #FF1A1A;
}
/* Remove o estilo padrão de link (como o sublinhado) */
.header-link {
    text-decoration: none;
    width: 20%;
    display: flex;
    justify-content: left;
    align-items: center;
    color: white;
}

.header-link-others{
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #f3f3f3;
    width: 100px;
    border-radius: 5px;
    color: #505050;
}
/* Filtros */
.filters {
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-direction: row;
  }
  
  .filters input {
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 10px 15px;
    background-color: white;
    border: 1px solid #555;
    color: #505050;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .pagination button:hover {
    background-color: white;
  }
  
  .pagination button.active {
    background-color: #FF1A1A;
    color: #fff;
  }
  
  .pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .pagination .page-numbers {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  

.pokebola-header {
    margin-right: 1%;  /* Espaço entre a imagem e o texto */
    height: 50px; /* Ajuste o tamanho conforme necessário */
}

.pokemon-card {
    background-color: #f3f3f3;
    padding: 3%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px;
    border-radius: 15px;
    max-width: 200px; /* Garante que os cards não fiquem muito grandes */
    transition: transform 0.3s ease, background 0.3s ease, box-shadow 0.3s ease;
    max-width: 200px; /* Garante que os cards não fiquem muito grandes */
    width: 150px;
    text-decoration: none;
}

.pokemon-card:hover {
    background: #e0e0e0; /* Cor mais forte ao passar o mouse */
    transform: scale(1.1); /* Aumenta o tamanho */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Cria o efeito de profundidade */
}

.pokemon-card img{
    width: 150px;
}

.item-card {
    background-color: #f3f3f3;
    padding: 3%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px;
    border-radius: 15px;
    max-width: 250px; /* Garante que os cards não fiquem muito grandes */
    transition: transform 0.3s ease, background 0.3s ease, box-shadow 0.3s ease;
    max-width: 200px; /* Garante que os cards não fiquem muito grandes */
    width: 100%;
    text-decoration: none;
    color: #505050;
}

.item-card:hover {
    background: #e0e0e0; /* Cor mais forte ao passar o mouse */
    transform: scale(1.1); /* Aumenta o tamanho */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Cria o efeito de profundidade */
}

.item-card img{
    width: 150px;
}

.evolution-item {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15px;
    border-radius: 15px;
    max-width: 300px; /* Garante que os cards não fiquem muito grandes */
    max-height: 300px;
    transition: transform 0.3s ease, background 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    text-decoration: none;
}

.evolution-item:hover {
    background: #e0e0e0; /* Cor mais forte ao passar o mouse */
    transform: scale(1.1); /* Aumenta o tamanho */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Cria o efeito de profundidade */
}
.pokemon-list {
    background-color: white;
    display: flex;
    flex-wrap: wrap; /* Permite quebra de linha */
    justify-content: center;
    gap: 10px;
    padding: 10px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.item-list {
    background-color: white;
    display: flex;
    flex-wrap: wrap; /* Permite quebra de linha */
    justify-content: center;
    gap: 10px;
    padding: 10px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.item-name {
    font-weight: bold;
    color: #505050;
    font-size: 20px;
}

.pokemon-name {
    font-weight: bold;
    color: white;
    font-size: 20px;
}

.pokemon-description-pai{
    font-weight: bold;
    color: white;
    font-size: 15px;
    text-align: left;
    max-width: 150px;
    width: 100%;
    margin-top: 10px;
}

.pokemon-fire { background-color: #F05030; }
.pokemon-fire:hover { background: #E2442E; }

.pokemon-water { background-color: #6890F0; }
.pokemon-water:hover { background: #4A78E0; }

.pokemon-grass { background-color: #78C850; }
.pokemon-grass:hover { background: #5FA940; }

.pokemon-electric { background-color: #F8D030; }
.pokemon-electric:hover { background: #E7C020; }

.pokemon-ice { background-color: #98D8D8; }
.pokemon-ice:hover { background: #78C8C8; }

.pokemon-fighting { background-color: #C03028; }
.pokemon-fighting:hover { background: #A82820; }

.pokemon-poison { background-color: #A040A0; }
.pokemon-poison:hover { background: #803080; }

.pokemon-ground { background-color: #E0C068; }
.pokemon-ground:hover { background: #C0A058; }

.pokemon-flying { background-color: #A890F0; }
.pokemon-flying:hover { background: #9078E0; }

.pokemon-psychic { background-color: #F85888; }
.pokemon-psychic:hover { background: #E04078; }

.pokemon-bug { background-color: #A8B820; }
.pokemon-bug:hover { background: #909010; }

.pokemon-rock { background-color: #B8A038; }
.pokemon-rock:hover { background: #A09028; }

.pokemon-ghost { background-color: #705898; }
.pokemon-ghost:hover { background: #604888; }

.pokemon-dragon { background-color: #7038F8; }
.pokemon-dragon:hover { background: #6028E8; }

.pokemon-dark { background-color: #705848; }
.pokemon-dark:hover { background: #604838; }

.pokemon-steel { background-color: #B8B8D0; }
.pokemon-steel:hover { background: #A8A8C0; }

.pokemon-fairy { background-color: #EE99AC; }
.pokemon-fairy:hover { background: #DD889C; }



/* CSS PokemonDetail */

/* Estilo geral para a página de detalhes */

.pokemon-header-PokemonDetail {
    font-weight: bold;
    font-size: large;
    width: 100%;
    text-align: center;
}
.pokemon-detail {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  /* Container principal onde a imagem e o descritivo são exibidos */
  .pokemon-container {
    display: flex;
    gap: 50px; /* Espaço entre a imagem e o descritivo */
    align-items: flex-start;
    padding: 20px;
    width: 100%;
  }
  
  /* Estilo da imagem do Pokémon */
  .pokemon-image img {
    width: 400px;
    height: 300px;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilo da descrição do Pokémon */
  .pokemon-description {
    max-height: 1000px;
    object-fit: contain;
    padding: 3%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
  }
  
  /* Estilo das informações do Pokémon */
  .pokemon-description div {
    font-size: 1rem;
    margin-bottom: 5px;
  }
  


  /* Estilo para a descrição do Pokémon */
.pokemon-description-text {
    margin-top: 20px;
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
  }
  
  /* Seção de Estatísticas */
  .pokemon-description h3 {
    margin-top: 20px;
    color: #333;
    font-size: 1.2rem;
  }

  
  /* Descrição das estatísticas */
  .pokemon-description div {
    font-size: 1rem;
    margin-bottom: 5px;
  }
  
  .pokemon-cantainer-img-chart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .pokemon-stats-chart{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    max-width: 400px;
    max-height: 400px;
    width: 100%;
    height: 100%;
  }

  .pokemon-arvore-evolucao-card {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

  }

  .pokemon-arvore-evolucao {
    width: 100%;
    gap: 50px; /* Espaço entre a imagem e o descritivo */
    padding: 20px;
    width: 100%;
  }

  .evolution-item img {
    width: 100%;
    max-width: 150px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .evolution-item p {
    font-size: 1rem;
    font-weight: bold;
    color: white;
  }

  .item-description {
    flex: 2;
    min-width: 200px;
  }
  
  .item-description h2 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .item-description div {
    margin: 10px 0;
    font-size: 1.1em;
  }
  
  .item-description strong {
    font-weight: bold;
  }
  
  .item-description p {
    font-size: 1.1em;
    color: #555;
    line-height: 1.6;
  }